{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">
Upload Investigation Files
</h2>

<div class="card shadow">

<div class="card-body">

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<div class="mb-3">

<label class="form-label">
CDR File
</label>

<input
type="file"
name="cdr_file"
class="form-control"
required>

</div>

<div class="mb-3">

<label class="form-label">
IPDR File
</label>

<input
type="file"
name="ipdr_file"
class="form-control"
required>

</div>

<button
type="submit"
class="btn btn-primary">

Analyze Files

</button>

</form>

</div>

</div>

{% if error %}

<div class="alert alert-danger mt-4">

{{ error }}

</div>

{% endif %}

{% endblock %}