<!DOCTYPE html>
<html>

<head>
    <title>Telecom Investigation System</title>
</head>

<body>

<h1>Telecom Investigation System</h1>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <h3>Upload CDR File</h3>

    <input type="file" name="cdr_file" required>

    <br><br>

    <h3>Upload IPDR File</h3>

    <input type="file" name="ipdr_file" required>

    <br><br>

    <button type="submit">

        Analyze

    </button>

</form>

<hr>

{% if error %}

<h2 style="color:red;">
    {{ error }}
</h2>

{% endif %}

{% if cdr_results %}

<h2>Analysis Completed</h2>

{% for report in cdr_results %}

<h3>{{ report.report_name }}</h3>

<table border="1">

<tr>
    <th>Contact Number</th>
    <th>Total Interactions</th>
</tr>

{% for number, count in report.top_contacts.items %}

<tr>
    <td>{{ number }}</td>
    <td>{{ count }}</td>
</tr>

{% endfor %}

</table>

{% endfor %}

{% endif %}

</body>

</html>